Car-Rental-Service/RentalServiceClient/Connected Services/RentalService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8080/Car" elementFormDefault="qualified" targetNamespace="http://localhost:8080/Car" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="REGNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRented" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:element name="CarRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="CarInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRented" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>