Car-Rental-Service/RentalServiceClient/Connected Services/RentalService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://localhost:8080/Customer" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://localhost:8080/Car" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://localhost:8080/Booking" />
  <xs:element name="AddCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://localhost:8080/Customer" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://localhost:8080/Car" minOccurs="0" name="rentalCar" nillable="true" type="q2:Car" />
        <xs:element xmlns:q3="http://localhost:8080/Customer" minOccurs="0" name="renter" nillable="true" type="q3:Customer" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://localhost:8080/Booking" minOccurs="0" name="booking" nillable="true" type="q4:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://localhost:8080/Car" minOccurs="0" name="CheckDateResult" nillable="true" type="q5:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://localhost:8080/Customer" minOccurs="0" name="GetCustomersResult" nillable="true" type="q6:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://localhost:8080/Customer" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q7:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://localhost:8080/Customer" minOccurs="0" name="GetCustomersByNameResult" nillable="true" type="q8:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://localhost:8080/Customer" minOccurs="0" name="GetCustomerByPhoneNumberResult" nillable="true" type="q9:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://localhost:8080/Customer" minOccurs="0" name="GetCustomerByEmailResult" nillable="true" type="q10:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFromBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://localhost:8080/Booking" minOccurs="0" name="booking" nillable="true" type="q11:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFromBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://localhost:8080/Customer" minOccurs="0" name="GetCustomerFromBookingResult" nillable="true" type="q12:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarByReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarByRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://localhost:8080/Car" minOccurs="0" name="GetCarByRegResult" nillable="true" type="q13:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://localhost:8080/Car" minOccurs="0" name="GetCarsByBrandResult" nillable="true" type="q14:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://localhost:8080/Car" minOccurs="0" name="GetCarsByYearResult" nillable="true" type="q15:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://localhost:8080/Car" minOccurs="0" name="GetCarsByModelResult" nillable="true" type="q16:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByIsRented">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByIsRentedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://localhost:8080/Car" minOccurs="0" name="GetCarsByIsRentedResult" nillable="true" type="q17:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarFromBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://localhost:8080/Booking" minOccurs="0" name="booking" nillable="true" type="q18:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarFromBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://localhost:8080/Car" minOccurs="0" name="GetCarFromBookingResult" nillable="true" type="q19:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://localhost:8080/Booking" minOccurs="0" name="GetBookingByIdResult" nillable="true" type="q20:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://localhost:8080/Car" minOccurs="0" name="car" nillable="true" type="q21:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByCarResult" nillable="true" type="q22:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://localhost:8080/Customer" minOccurs="0" name="customer" nillable="true" type="q23:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByCustomerResult" nillable="true" type="q24:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomerEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomerEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByCustomerEmailResult" nillable="true" type="q25:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomerPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByCustomerPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByCustomerPhoneResult" nillable="true" type="q26:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByTimeResult" nillable="true" type="q27:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByIsNotReturned">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByIsNotReturnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://localhost:8080/Booking" minOccurs="0" name="GetBookingsByIsNotReturnedResult" nillable="true" type="q28:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>