Car-Rental-Service/RentalServiceClient/Connected Services/RentalService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8080/Booking" elementFormDefault="qualified" targetNamespace="http://localhost:8080/Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://localhost:8080/Car" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://localhost:8080/Customer" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://localhost:8080/Car" minOccurs="0" name="RentalCar" nillable="true" type="q1:Car" />
      <xs:element xmlns:q2="http://localhost:8080/Customer" minOccurs="0" name="Renter" nillable="true" type="q2:Customer" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsReturned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
</xs:schema>