Car-Rental-Service/RentalServiceClient/Connected Services/RentalService/RentalServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentalServiceTest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRentalServiceTest_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://localhost:8080/Customer" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://localhost:8080/Car" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://localhost:8080/Booking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentalServiceTest_AddCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_AddCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveCar_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCar" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCarResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_EditCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomer" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_EditCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomer" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_AddBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBooking" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_AddBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBooking" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_RemoveBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_CheckDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDate" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_CheckDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDateResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersByName" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerByPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerByPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmail" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerFromBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFromBooking" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCustomerFromBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFromBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarByReg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByReg" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarByReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByRegResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByBrand" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByYear" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByYearResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByModel" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByIsRented_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByIsRented" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarsByIsRented_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByIsRentedResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarFromBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarFromBooking" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetCarFromBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarFromBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingById" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCar" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCarResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomer" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomerEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomerEmail" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomerEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomerEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomerPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomerPhone" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByCustomerPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByCustomerPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByTime" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByIsNotReturned_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByIsNotReturned" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_GetBookingsByIsNotReturned_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsByIsNotReturnedResponse" />
  </wsdl:message>
  <wsdl:message name="CarRequest">
    <wsdl:part xmlns:q1="http://localhost:8080/Car" name="parameters" element="q1:CarRequestObject" />
  </wsdl:message>
  <wsdl:message name="CarRequest_Headers">
    <wsdl:part xmlns:q2="http://localhost:8080/Car" name="LicenseKey" element="q2:LicenseKey" />
  </wsdl:message>
  <wsdl:message name="CarInfo">
    <wsdl:part xmlns:q3="http://localhost:8080/Car" name="parameters" element="q3:CarInfoObject" />
  </wsdl:message>
  <wsdl:message name="IRentalServiceTest_SaveCar_OutputMessage" />
  <wsdl:portType name="IRentalServiceTest">
    <wsdl:operation name="AddCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/AddCar" message="tns:IRentalServiceTest_AddCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/AddCarResponse" message="tns:IRentalServiceTest_AddCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveCar" message="tns:IRentalServiceTest_RemoveCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveCarResponse" message="tns:IRentalServiceTest_RemoveCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/AddCustomer" message="tns:IRentalServiceTest_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/AddCustomerResponse" message="tns:IRentalServiceTest_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/EditCustomer" message="tns:IRentalServiceTest_EditCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/EditCustomerResponse" message="tns:IRentalServiceTest_EditCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveCustomer" message="tns:IRentalServiceTest_RemoveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveCustomerResponse" message="tns:IRentalServiceTest_RemoveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/AddBooking" message="tns:IRentalServiceTest_AddBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/AddBookingResponse" message="tns:IRentalServiceTest_AddBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveBooking" message="tns:IRentalServiceTest_RemoveBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/RemoveBookingResponse" message="tns:IRentalServiceTest_RemoveBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/ReturnCar" message="tns:IRentalServiceTest_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/ReturnCarResponse" message="tns:IRentalServiceTest_ReturnCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/CheckDate" message="tns:IRentalServiceTest_CheckDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/CheckDateResponse" message="tns:IRentalServiceTest_CheckDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomers" message="tns:IRentalServiceTest_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomersResponse" message="tns:IRentalServiceTest_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerById" message="tns:IRentalServiceTest_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerByIdResponse" message="tns:IRentalServiceTest_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomersByName" message="tns:IRentalServiceTest_GetCustomersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomersByNameResponse" message="tns:IRentalServiceTest_GetCustomersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByPhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerByPhoneNumber" message="tns:IRentalServiceTest_GetCustomerByPhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerByPhoneNumberResponse" message="tns:IRentalServiceTest_GetCustomerByPhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerByEmail" message="tns:IRentalServiceTest_GetCustomerByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerByEmailResponse" message="tns:IRentalServiceTest_GetCustomerByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFromBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerFromBooking" message="tns:IRentalServiceTest_GetCustomerFromBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCustomerFromBookingResponse" message="tns:IRentalServiceTest_GetCustomerFromBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarByReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarByReg" message="tns:IRentalServiceTest_GetCarByReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarByRegResponse" message="tns:IRentalServiceTest_GetCarByReg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByBrand" message="tns:IRentalServiceTest_GetCarsByBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByBrandResponse" message="tns:IRentalServiceTest_GetCarsByBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByYear" message="tns:IRentalServiceTest_GetCarsByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByYearResponse" message="tns:IRentalServiceTest_GetCarsByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByModel" message="tns:IRentalServiceTest_GetCarsByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByModelResponse" message="tns:IRentalServiceTest_GetCarsByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByIsRented">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByIsRented" message="tns:IRentalServiceTest_GetCarsByIsRented_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarsByIsRentedResponse" message="tns:IRentalServiceTest_GetCarsByIsRented_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarFromBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarFromBooking" message="tns:IRentalServiceTest_GetCarFromBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarFromBookingResponse" message="tns:IRentalServiceTest_GetCarFromBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingById" message="tns:IRentalServiceTest_GetBookingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingByIdResponse" message="tns:IRentalServiceTest_GetBookingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCar" message="tns:IRentalServiceTest_GetBookingsByCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCarResponse" message="tns:IRentalServiceTest_GetBookingsByCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomer" message="tns:IRentalServiceTest_GetBookingsByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerResponse" message="tns:IRentalServiceTest_GetBookingsByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerEmail" message="tns:IRentalServiceTest_GetBookingsByCustomerEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerEmailResponse" message="tns:IRentalServiceTest_GetBookingsByCustomerEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerPhone" message="tns:IRentalServiceTest_GetBookingsByCustomerPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerPhoneResponse" message="tns:IRentalServiceTest_GetBookingsByCustomerPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByTime" message="tns:IRentalServiceTest_GetBookingsByTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByTimeResponse" message="tns:IRentalServiceTest_GetBookingsByTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByIsNotReturned">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByIsNotReturned" message="tns:IRentalServiceTest_GetBookingsByIsNotReturned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetBookingsByIsNotReturnedResponse" message="tns:IRentalServiceTest_GetBookingsByIsNotReturned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCar" name="CarRequest" message="tns:CarRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/GetCarResponse" name="CarInfo" message="tns:CarInfo" />
    </wsdl:operation>
    <wsdl:operation name="SaveCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalServiceTest/SaveCar" name="CarInfo" message="tns:CarInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalServiceTest/SaveCarResponse" message="tns:IRentalServiceTest_SaveCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentalServiceTest" type="tns:IRentalServiceTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/EditCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/AddBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBooking">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDate">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/CheckDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByName">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerByPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFromBooking">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerFromBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByReg">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarByReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByBrand">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByYear">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByModel">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByIsRented">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByIsRented" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarFromBooking">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarFromBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingById">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomer">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerEmail">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerPhone">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByTime">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByIsNotReturned">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByIsNotReturned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCar" style="document" />
      <wsdl:input name="CarRequest">
        <soap:header message="tns:CarRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CarInfo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCar">
      <soap:operation soapAction="http://tempuri.org/IRentalServiceTest/SaveCar" style="document" />
      <wsdl:input name="CarInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRentalServiceTest" type="tns:IRentalServiceTest">
    <wsp:PolicyReference URI="#NetTcpBinding_IRentalServiceTest_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/AddCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/EditCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/AddBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBooking">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/RemoveBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/ReturnCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDate">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/CheckDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByName">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomersByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerByPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFromBooking">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCustomerFromBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByReg">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarByReg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByBrand">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByYear">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByModel">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByIsRented">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarsByIsRented" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarFromBooking">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCarFromBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingById">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomer">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerEmail">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByCustomerPhone">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByCustomerPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByTime">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsByIsNotReturned">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetBookingsByIsNotReturned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/GetCar" style="document" />
      <wsdl:input name="CarRequest">
        <soap12:header message="tns:CarRequest_Headers" part="LicenseKey" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CarInfo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCar">
      <soap12:operation soapAction="http://tempuri.org/IRentalServiceTest/SaveCar" style="document" />
      <wsdl:input name="CarInfo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentalServiceTest">
    <wsdl:port name="BasicHttpBinding_IRentalServiceTest" binding="tns:BasicHttpBinding_IRentalServiceTest">
      <soap:address location="http://localhost:8080/RentalService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRentalServiceTest" binding="tns:NetTcpBinding_IRentalServiceTest">
      <soap12:address location="net.tcp://localhost:8090/RentalService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/RentalService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-A3I5U2L\Joe</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>